@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,700i,900,900i&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size:14px; font-weight: 300;
}
b{ font-weight: 700;}
h1, h2, h3, h4, h5, h6{ font-family: 'Roboto', sans-serif !important; }
p{ font-size: 16px;}

.trackList{ display: flex; justify-content: center; width: 100%; flex-direction: row;}
.col-4.albumItem{ margin:0 0 40px;}
.albumItem .albumImage img{ width: 100%; height: auto;}
.albumItem .albumImage{ margin:0 0;}
.albumItem .albumText{ text-align: left; background: #fff; padding: 20px;}
.albumText .albumInfo{ margin: 0 0;}
.albumText .trackInfo{ display: block;}
.albumText .trackInfo audio{ margin: 10px 0 0;}
.albumText span{ display: block; margin: 0 0 5px;}
.btnTrack{ margin: 10px 0 0; text-align: right;}
.btnTrack a{color: #ccc; font-size: 12px; font-weight: 600;}
.albumText span.btnPlay{display: table; margin: 15px auto; padding: 10px 30px; cursor: pointer; background: #f1f3f4; border-radius: 30px;}